.aling-correction {
    align-content: center;
    align-self: stretch;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);

    justify-items: center;
    align-items: center;



    .background {
        background-color: $colorFondo;
        justify-self: stretch;

        @extend .aling-correction;
    }

    .background-white {
        background-color: $colorBlancoSuave;
        justify-self: stretch;
        @extend .aling-correction;
    }

}