.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
  

    background-color: $colorFondo;
}

.flex-container-for-images {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.flex-item {
    flex: 50%;
    justify-content: center;
}
