.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-container {
    @extend .flex-row;
    flex-wrap: wrap;
    height: 50%;
  

    background-color: $colorFondo;
}

.flex-container-for-images {
    @extend .flex-row;
    justify-content: center;

}

.flex-item {
    flex: 50%;
    justify-content: center;
}
