* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header {

  height: 150px;
  background-color:$colorBlancoSuave ;
}

main {
  background-color: $colorBlancoSuave;
}

footer {
  position: relative;

  padding: 1rem;
  background-color: $colorBlancoSuave;
  text-align: center;
}


button {
  border: none;
  background-color: transparent;
  transition: 0.5s;
}

button:hover {
  color: rgb(171, 37, 37);
  transform: scale(1.3);
}